/* styles.css */
*{
  font-family: 'Noto Sans', sans-serif;
}

/* Estilo general del cuerpo y de los encabezados */
body {
  background-color: #F0A8D0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #000; /* Color del texto en general */
}

h1, h3 {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 20px;
  color: #000; /* Color del texto */
}

/* Estilo para mover el contenedor de "Add Note" a la esquina superior derecha sin un fondo */
.add-note-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row; /* Cambia a fila para alinear los elementos */
  gap: 10px; /* Espacio entre los elementos */
  align-items: center;
  background: none; /* Sin fondo */
  box-shadow: none; /* Sin sombra */
  border: none; /* Sin borde */
}

button {
  cursor: pointer;
  background-color: #ffeb3b;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffc107;
}

input, select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.paper {
  padding: 20px;
  background-color: #fff;
  width: 335px;
  z-index: auto; /* Asegúrate de que el z-index no interfiera con las notas */
  overflow: visible; /* Evita que los elementos arrastrados se oculten al moverse */
}
.draggable {
  top: auto !important;
  left: auto !important;
}
