/* Estilo general del cuerpo y de los encabezados */
body {
  background-color: gainsboro;
  margin: 0;
  font-family: 'Patrick Hand', cursive;
}

h1, h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}
/* styles.css */
/* Estilo para mover el contenedor de "Add Note" a la esquina superior derecha sin un fondo */
.add-note-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row; /* Cambia a fila para alinear los elementos */
  gap: 10px; /* Espacio entre los elementos */
  align-items: center;
  background: none; /* Sin fondo */
  box-shadow: none; /* Sin sombra */
  border: none; /* Sin borde */
}

button {
  cursor: pointer;
  background-color: #ffeb3b;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffc107;
}

input, select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.paper {
  position: relative;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  line-height: 25px;
  border: 1px solid #d3d3d3;
  width: 350px;
}

/* Líneas de la hoja */
.lines {
  position: relative;
  padding: 10px;
  background-image: repeating-linear-gradient(white 0px, white 23.5px, steelblue 25px);
  border-left: 2px solid rgba(255, 0, 0, 0.3);
  height: auto;
}

/* Estilos para los agujeros */
.holes {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
}

.hole {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: gainsboro;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
}